@use "./abstracts/colors" as colors;
@use "./abstracts/reset";

body{
    min-height: 100vh;
    background: linear-gradient(to bottom right, #676f75,#4da3d1);
    font-family: 'Roboto', sans-serif;
}
main{
    height: 80vh;
}
footer{
    height: 20vh;
}