@use "./abstracts/colors" as colors;
@use "./abstracts/reset";

body{
    min-height: 100vh;
    background: #dddbdb;
    font-family: 'Roboto', sans-serif;
}
main{
    height: 80vh;
}
footer{
    height: 20vh;
}