@use "../../abstracts/colors" as colors;

.button {
    display: inline-block;
    padding: 5px 5px;
    background-color: colors.$white;
    color: black;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    font-size: medium;
}

.button:hover {
    outline: none;
    box-shadow: 0 0 0 2px rgba(52, 62, 71, 0.25);
    
}

.button:active {
    outline: none;
    box-shadow: 0 0 0 2px rgba(52, 62, 71, 0.5);

}

.button--secondary {
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

