@use "../../abstracts/colors" as colors;

.button {
    display: inline-block;
    padding: 5px 5px;
    background-color: colors.$primary-color;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    font-size: medium;
}

.button:hover {
    background-color: colors.$primary-color-dark;
}

.button:active {
    background-color: darken(colors.$primary-color-dark, 5%);
}

.button--secondary {
    background-color: colors.$secondary-color;
    &:hover {
        background-color: colors.$secondary-color-dark;
    }
    &:active {
        background-color: darken(colors.$secondary-color-dark, 5%);
    }
}

