.input-field {
    display: block;
    width: 100%;
    padding: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

.input-field::placeholder {
    color: #ccc;
}

.input-field:hover {
    outline: none;
    box-shadow: 0 0 0 2px rgba(52, 62, 71, 0.25);
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(52, 62, 71, 0.5);
}