.credential-field-head{
    display: flex;
    flex-direction: row;
    span{
        min-width: 50%;
        overflow-x: auto;
        scrollbar-width: none;
        
    }
    a{
        min-width: 50%;
        overflow-x: auto;
        scrollbar-width: none;
    }
}

.credential-field-foot{
    display: flex;
    flex-direction: row;
}

.credential-field-buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    button{
        width: 100%;
    }
}