$primary-color: #62676c;
$secondary-color: #1162a8;
$primary-color-dark: darken($primary-color, 10%);
$secondary-color-dark: darken($secondary-color, 10%);

$white: #fff;
$whitesmoke: #fff;
$black: #000;
$blue: #007bff;
$green: #28a745;
$red: #dc3545;
